[Desktop Entry]
Name=Free42
GenericName=Free42 calculator simulator
Exec=free42dec
Icon=com.thomasokken.free42
Terminal=false
Type=Application
Categories=Utility;Calculator;
